---
layout: page
title: DIGIMAT
permalink: /
---  

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h1 class="animated fadeInUp">SOMOS UNA EMPRESA DE DISEÑO E INNOVACION<br>TECNOLOGICA </h1>
          <p class="animated fadeInUp">Nos encanta la tecnologia. Trabajamos estrechamente con nuestros clientes para brindar soluciones a la medida de sus necesidades, en sectores como el turismo, educación, medico, cultural y de defensa.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>Nosotros</h2>
            <p>Somos una empresa de desarrollo de Software y  Robótica, apasionados por el diseño, la innovación y la tecnología, buscamos brindar nuestro talento a las empresas impulsando el ecosistema empresarial.</p>
          </div>
          <p>Buscamos que las empresas y negocios locales puedan implementar de forma efectiva tecnologías utilizadas en la Industria 4.0 como; aplicaciones mobiles, desarrollo web , Realidad Virtual, Realidad Aumentada, Robótica, Impresión 3D, Señalización Digital, Internet de las cosas. Estas herramientas generan competitividad no solo a nivel regional, estatal o nacional. Tus clientes son los principal y las tecnología puede ser el puente que te lleve al siguiente nivel.</p>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/wrapper-img.png" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <h2>CONVERTIMOS TU IDEA EN UN PROYECTO</h2>
      <p>Tomamos los aspectos principales de tu idea, los conceptualizamos y buscamos las plataformas que se acerquen mas a tus necesidades y puedan cumplir con tus requerimientos.</p>
      <p>Analizamos minuciosamente el mercado para el cual es apta tu idea de forma que tenga un alto impacto  y largo alcance a segmentos especificos de clientes o usuarios.</p>
      <p>Generamos software o Hardware a la medida de la necesidad en las plataformas de distribucion con mas usuarios. Buscamos automatizar todo cuanto sea posible para que un click haga la magia.</p>
      <a href="https://digimatweb.github.io/work/" class="btn btn-view-works">Nuestro Trabajo</a>
    </div>
  </div>
</div>
</section>

<!-- Service Start -->
<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>NUESTROS SERVICIOS</h2>
        <p>Turismo, Educacion, Sector Medico, Cultural, Industrial, Retail, Agroindutria, Transporte, Restaurantero, Hotelero, Electrico, Alimenticio, Construccion; son areas en las que nuestra tecnologia puede mejorar tu empresa o negocio</p>
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="icon ion-coffee"></i>
          <h4>Desarrollo de App´s</h4>
          <p>Posiciona tu negocio y coloca tus servicios al alcance de todos los dispositivos moviles Android y iOS </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-compass"></i>
          <h4>Diseño Web</h4>
          <p>Desarrollo de micrositios excelentes para PyMEs  y negocios que deseen alcanzar a la mayor cantidad de clientes</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-image"></i>
          <h4>Realidad Virtual</h4>
          <p>Tecnologia que te lleva a una experiencia mas alla del lugar en el que te encuentres</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-bug"></i>
          <h4>Realidad Aumentada</h4>
          <p>Una tecnologia que permite ver objetos 3d en el entorno natural a travez de tu dispositivo movil o con dispositivos personalizados para tu negocio</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-headphone"></i>
          <h4>Mecatronica</h4>
          <p>Creamos productos o procesos que transformen negocios de la mano de electronica mecanica robótica y automatización</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-leaf"></i>
          <h4>Señalizacion Digital</h4>
          <p>Transforma cualquier lugar en una zona interactiva o utiliza dispositivos que permitan una mejorar interactividad</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-planet"></i>
          <h4>Internet de las cosas</h4>
          <p>Conecta cualquier proceso herramienta o maquina a internet y obten datos e informacion en tiempo real y facil de interpretar</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-earth"></i>
          <h4>Inteligencia Artificial</h4>
          <p>Utiliza la tecnologia mas disruptiva de todas en tu negocio por medio de datos que se mejoran continuamente en procesos automatizados </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>Diseñamos experiencias digitales increibles.</h2>
          <p>Conoce mas acerca de nuestra filosofia de diseño. Busca nuestro trabajo con nuestros distintos clientes, y conoce mas sobre lo que podemos hacer por ti.</p>
          <a class="btn btn-default btn-call-to-action" href="https://api.whatsapp.com/send?phone=527351846787" >Contactanos</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Content Start -->
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>Testimonios</h2>
        <p>Nuestros clientes y su opinion es muy importante. Buscamos mejorar continuamente para poder ofrecer el mejor servicio y producto a nuestros clientes</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                <img src="img/cotation.png" alt="IMG">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <img src="{{ tm.image }}" alt="Pepole">
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
