---
layout: page
title: karlstatik - büro für tragwerksplanung
permalink: /
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h1 class="animated fadeInUp">büro für tragwerksplanung</h1>
          <p class="animated fadeInUp">Wir unterstützen Bauherr:innen und Architekt:innen bei der Umsetzung Ihrer individuellen Projekte im industriellen und privaten Hoch- und Tiefbau</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>ÜBER UNS</h2>
            <p>Unser Büro wurde 2021 gegründet, um unsere Kunden aus den Bereichen Hoch-, Hafen- und Wasserbau noch individuell und zuverlässig unterstützen zu können.</p>
          </div>
          <p>Unser Ziel ist nicht nur die Standsicherheit – auch die optimale Wirtschaftlichkeit und Nachhaltigkeit behalten wir für Sie bei unserem Tragwerksentwurf im Auge. </p>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/wrapper-img.webp" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <h2>WIR ARBEITEN FÜR IHRE PROJEKTE</h2>
      <p>Wir begleiten Sie aktiv vom Konzept bis zur Realisierung bei Ihrem Bau, Umbau und Sanierungsvorhaben. </p>
      <p>Wir arbeiten gerne interdiszilinär und auf Augenhöhe mit Architekten, Ingenieuren und Gewerken zusammen. Wir stehen Ihnen mit unserer Sachkunde jederzeit beratend zur Seite und unterstützen sie von der Angebotserstellung bis zur Umsetzung. 
</p>
<p>Unser Angebot umfasst Tragwerksplanung/Statik entsprechend der HOAI-Leistungsphasen 1 bis 6. Wir erstellen für Sie prüffähige statische Berechnungen und Machbarkeitsstudien. </p>

      <a href="#portfolio-work" class="btn btn-view-works">Unsere Referenzen</a>
    </div>
  </div>
</div>
</section>

<!-- Service Start -->
<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Unser Leistungsspektrum</h2>
        <p>Wir bieten unsere Leistungen im Holzbau, Stahlbau, Massivbau und beim Bauen im Bestand an. Seit einigen Jahren haben wir uns zudem auf Stahlbau in Gewässern- und Häfen spezialisiert und bieten neben Spannungsanalysen von Spezialbauteilen auch beispielsweise auch Berechnungen zur Ufer- und Baugrubensicherung an.</p>
      </div>
    </div>
    <div class="row ">
{% for l in site.leistungen %}
      <div class="col-sm-6 col-md-3">
	      <a href="{{ l.url | relative_url }}">
        <div class="service-item">
		<i class="fa-solid fa-{{ l.icon }}"></i>
		<h4>{{ l.title }} </h4>
		{{ l.excerpt}}
        </div>
	</a>
     </div>
{% endfor %}

    </div>
  </div>
</section>

<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>Wir beraten Sie niederschwellig und individuell</h2>
	  <p> Suchen Sie ein agiles Ingenieurbüro im Raum Karlsruhe, dan<p>
          <a class="btn btn-default btn-call-to-action" href="contact" >melden Sie sich</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Content Start -->


<!-- Portfolio Start -->
<section id="portfolio-work">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <!--div class="portfolio-menu">
            <ul>
              <li class="filter" data-filter="all">Alle</li>
              <li class="filter" data-filter=".Hoch">Hochbau</li>
              <li class="filter" data-filter=".Tief">Tiefbau</li>
              <li class="filter" data-filter=".Ing">Ingenieurbau</li>
            </ul>
          </div-->
          <div class="portfolio-content">
            <ul id="portfolio-content-active">
		{% for post in site.posts %}
		<li class="mix {{ post.tags }}">
		 <a href="{{ post.url | relative_url }}">
		  {% if post.thumbnail %}
		  <img src="{{ post.thumbnail | relative_url }}" alt="">
		  {% else %}
		  <img src="img/portfolio/default.jpg" alt="">
		  {% endif %}
                  <div class="overly">
                    <div class="position-center">
			    <h2>{{ post.title }}</h2>
                      <p> {{ post.excerpt }} </p>

                    </div>
                  </div>
                </a>
              </li>
{% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
