<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="#">Nosotros</a></li>
            <li><a href="{{ site.baseurl }}/contact">Contactanos</a></li>
           <!-- <li><a href="#">Servicios</a></li> -->
           <!-- <li><a href="{{ site.baseurl }}/blog">Blog</a></li> -->
            <li><a href="#">Terminos y Condiciones</a></li>
          </ul> 
        </div>
        <p>Copyright &copy; Diseño &amp; Desarrollado por <a href="http://www.Digimatweb.github.io">Digimat</a>. Todos los derechos reservados.</p>
      </div>
    </div>
  </div> 
</footer>
