<!DOCTYPE html>
<html class="js">
  <head>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <meta name="apple-mobile-web-app-title" content="Add to Home">

    <link rel="shortcut icon" sizes="16x16" href="{{ site.baseurl }}/img/icon-16x16.png">
    <link rel="shortcut icon" sizes="196x196" href="{{ site.baseurl }}/img/icon-196x196.png">
    <link rel="apple-touch-icon-precomposed" href="{{ site.baseurl }}/img/icon-152x152.png">

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/addtohomescreen.css">
    <script src="{{ site.baseurl }}/js/addtohomescreen.js"></script>
    {% include head.html %}

  </head>
  <body>


    {% include header.html %}


    {{ content }}









    {% include footer.html %}

    </body>
</html>
